exportPattern("^[[:alpha:]]+")
useDynLib(scCompReg, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom(graphics, abline, boxplot, bxp, contour, hist, image, lines, par, plot, plot.default, points, polygon, text, title)
importFrom(stats, pgamma, sd, as.formula, terms, quantile, var, cor)
importFrom(NNLM, nnmf)
importFrom(reader, is.file)
importFrom(muRty, get_k_best)
importFrom(R.matlab, readMat)
importFrom(pracma, pinv, fminunc)
importFrom(EnvStats, egamma)
importFrom(Matrix, rowMeans, colMeans, sparseMatrix)
importFrom(Rtsne, Rtsne)
importFrom(scales, hue_pal)

export(cnmf)
export(sc_compreg)
S3method(cnmf, default)
S3method(sc_compreg, default)