exportPattern("^[[:alpha:]]+")
useDynLib(scCompReg, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom(graphics, abline, boxplot, bxp, contour, hist, image, lines, par, plot, plot.default, points, polygon, text, title)
importFrom(grDevices, dev.interactive, devAskNewPage, terrain.colors)
importFrom(stats, model.frame, model.matrix, model.response, qnorm, sd, as.formula, terms, delete.response, acf, cov, dnbinom, dnorm, lm, median, optim, pnorm, qchisq, quantile, rmultinom, rnorm, runif, var)
importFrom(coda, effectiveSize)
importFrom(NNLM, nnmf)
importFrom(reader, is.file)
importFrom(muRty, get_k_best)
importFrom(R.matlab, readMat)
importFrom(pracma, pinv, fminunc)
importFrom(EnvStats, egamma)

export(cnmf)
export(sc_compreg)
S3method(cnmf, default)
S3method(sc_compreg, default)